table {
  width: 100%;
}

.title {
    background-color: #666;
    padding: 30px;
    color: white;
    text-align: center;
}

.container {
    margin: 0 20%;
}

td, th {
    width: 15%;
}
.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.delete {
    cursor: pointer;
    color: #E15639
}
.edit {
    cursor: pointer;
    color: #1878B0;
}
.ver {
    cursor: pointer;
}
.agregar {
    font-size: 10px;
    line-height: 28px;
}