.card {
    margin-top: 10px;
}

.fullWidth {
    width: 100%;
    margin: 10px; 
}

.padding-bottom {
    padding-bottom: 1rem;
}

.margin-right {
    margin-right: 10px;
}

.subtitle {
    color: grey;
    padding: 10px 0 0 10px;
}